#scale-input-container {
  position: absolute;
  width: 100px;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  pointer-events: auto;
}

.scale-input {
  font-size: 14px;
  width: 80px;
  border: none;
  background-color: transparent;
}

.scale-label {
  margin-right: 5px;
}
